In [3]:
import matplotlib.pyplot as plt
import numpy as np

In [4]:
data = np.random.normal(0,1,(150,4))
data.shape

(150, 4)

In [7]:
mask = data[:,0]>=0
mask.shape

(150,)

In [8]:
data[mask]

array([[ 0.74069505,  0.54581983, -0.43324478, -0.0438738 ],
       [ 0.27790595,  0.62356073, -0.76812758,  0.68330634],
       [ 1.51312766,  0.24232238, -1.08393577,  1.35006456],
       [ 1.15307189,  0.64751707, -0.70350983,  1.09223023],
       [ 1.59573274, -2.05961055, -0.66769814, -0.15893955],
       [ 0.80356034,  1.34619792, -0.41651817, -0.53248483],
       [ 0.38858232,  0.07432531, -1.17963486, -1.34503655],
       [ 0.02152967, -0.16854418,  1.85246148,  0.95475804],
       [ 0.05443941, -0.25852059,  0.36534721,  1.84665788],
       [ 0.63471689,  0.03479683,  1.55222333, -0.93429379],
       [ 1.50333183,  1.35325313,  2.03587095,  0.35550693],
       [ 0.95415765, -0.88233426,  0.09938576, -0.59225504],
       [ 0.26947944,  0.61508859, -0.67364341, -2.43803533],
       [ 0.54939209,  1.28511202,  0.07073764, -0.25737565],
       [ 0.42986586,  1.26001376,  1.61850965,  0.00466293],
       [ 1.06417109, -1.4054172 , -0.83758356, -1.57904588],
       [ 0.83905882,  1.08336549,  0.9270041 , -1.06091693],
       [ 0.75387562, -0.81252375,  1.49322743,  1.05409613],
       [ 0.6294147 ,  1.15081161,  0.89459452, -0.10382542],
       [ 1.74044081, -0.43800425, -0.05177459, -0.48052876],
       [ 0.1988412 ,  0.85859413,  0.99747408,  1.54095932],
       [ 1.796456  ,  1.70929891,  1.71880243,  1.22533899],
       [ 0.41482502,  0.05768357,  0.24243845,  1.13400317],
       [ 1.50701382,  0.70791468,  0.46037722,  0.18755797],
       [ 0.5497411 , -0.16329701,  0.4245052 , -1.15384077],
       [ 0.49728928,  0.49150298,  0.58698164,  0.54949202],
       [ 0.89058313,  0.45532569,  0.96332697,  0.19407136],
       [ 0.60479072,  0.40163036, -0.50000751, -1.036663  ],
       [ 0.10363669,  0.38318657, -0.14182135,  1.37317922],
       [ 1.6933735 ,  1.09977007, -1.73073069,  1.70145089],
       [ 0.64579668, -0.36167652, -0.01503525, -0.50677306],
       [ 1.02096856, -2.36471222, -0.0505412 ,  0.63717839],
       [ 1.43833643, -1.02654116,  0.24485671,  1.56007366],
       [ 0.99410295, -0.53080316, -1.42259364, -0.18350368],
       [ 0.15105268,  0.82426307,  0.36728029, -0.37447319],
       [ 0.66962922, -0.44244921,  0.04112701, -1.2210517 ],
       [ 1.2784238 ,  1.08265889, -0.4746923 ,  0.53262535],
       [ 0.9189707 , -0.01033244, -0.66359456, -0.54697483],
       [ 0.66341769, -1.33188242, -1.44519035, -0.23254586],
       [ 0.17819135, -0.35099112,  0.41294226, -0.45904194],
       [ 0.540711  ,  0.21613199, -0.16139431,  0.47753378],
       [ 0.7503787 ,  0.95814999, -0.50548566,  0.46406878],
       [ 0.35112504,  0.01042478, -0.64710326,  0.65595949],
       [ 0.10919809, -1.05237001, -0.59690968,  0.31974458],
       [ 0.15014894, -0.02997319, -0.59514474, -1.00822336],
       [ 0.30836754,  1.44524432, -2.56997157,  0.10819259],
       [ 0.56896492,  0.59940843,  0.20586972,  0.45688654],
       [ 0.06687496,  0.78545723, -0.84331295, -0.77838792],
       [ 1.94482817,  0.67279511, -0.66317203, -0.20021695],
       [ 0.2624695 , -1.50329823, -2.84092522, -0.30877065],
       [ 0.63159173,  0.5790723 , -0.19708309, -0.69596956],
       [ 1.64740183, -0.20617761,  0.50807652, -0.39147576],
       [ 0.18545261,  1.11993401, -0.20398576,  0.57809905],
       [ 0.84133855, -0.90641056,  0.16221111, -0.26352154],
       [ 0.07909563,  0.98029841, -1.69228077,  0.04950637],
       [ 0.42287096, -0.91316541,  0.29108945,  0.49835199],
       [ 1.36556087, -1.86335145, -0.62152698,  1.65685801],
       [ 0.646446  ,  1.79475288,  0.68210484,  0.43175513],
       [ 1.26439719, -0.0800019 , -1.11673098,  0.23547429],
       [ 0.28194337,  1.42534184, -1.61251057,  0.09949055],
       [ 0.3692247 ,  1.37787145, -1.1129082 , -1.39097442],
       [ 0.61657417,  0.19859929, -0.16225128,  0.41308403],
       [ 1.38334681, -1.49002472,  0.04453397, -0.74145833],
       [ 0.3291398 , -0.36263756, -1.18558997,  2.20555444],
       [ 0.78440235, -0.32197346, -0.53383334, -0.27447958],
       [ 0.78616376, -0.06336486,  2.05988605, -0.54205173],
       [ 0.37022856, -1.13569951,  0.07071795,  0.91320204],
       [ 0.56007593, -0.81063007,  1.56724363,  0.13505842],
       [ 2.17186543, -0.98518938,  0.53781895,  0.36558729],
       [ 0.31365348, -2.52698475,  0.82208747,  0.7586494 ],
       [ 1.42853505,  1.44559923, -1.81908521,  1.47749377],
       [ 0.46630355, -0.36725419, -0.51213784, -1.60657382],
       [ 1.70455463,  0.2515043 ,  2.27896559,  0.29657699],
       [ 0.86053779,  0.47059073,  0.14419297, -1.04325901],
       [ 0.19517332, -0.24688082,  0.15594287,  0.37272382],
       [ 0.30133231, -0.03734177, -0.72800894,  0.4442554 ],
       [ 0.58728735, -1.11957335, -2.21859662,  0.68129177],
       [ 1.6121041 ,  0.66975289, -0.3225048 ,  0.57317416],
       [ 0.30511745, -0.66647615, -0.12423184, -0.70908196],
       [ 0.64955793, -0.72133135,  0.48581564,  1.19822417],
       [ 0.63506952, -1.76814252,  0.22291548, -1.10181593]])

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [7]:
#df['sex'].apply(lambda x: 0 if x=="male" else 1)
def f(x):
    if x =="male" : return 0
    return 1
df.loc[:,'sex'] = df['sex'].apply(f)
df.loc[:,'sex'] = df['sex'].astype('int')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [9]:
df['embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [16]:
mask = df['embarked'].isna()
df['embarked'].fillna("S", inplace=True)

In [17]:
df.loc[:, 'embarked'] = pd.Categorical(df['embarked'])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [20]:
df['embark_town'].unique()

array(['Southampton', 'Cherbourg', 'Queenstown', nan], dtype=object)

In [21]:
df['embark_town'].fillna("Southampton", inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_7636\2978088390.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['embark_town'].fillna("Southampton", inplace=True)